*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}
body{
    overflow-x: hidden;
}
.name{
    letter-spacing: 2px;
    padding: 2rem;
    display: flex;
}
.name h3{
    font-family: 'Jost', sans-serif;
}
.name h6{
    opacity: 50%;
    margin-left: 450px;
    margin-top: 15px;
}
.image{
    width: 1000px;
    height: 600px;
    left: 600px;
    bottom: 110px;
    position: relative;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    background-image: url("../Assets/01.png");
}
.Text-Section{
    position: absolute;
    margin: auto;
    bottom: 60px;
    padding: 7rem;
}
.Text-Section h1{
    font-family: 'Merriweather Sans', sans-serif;
}
.Text-Section p{
    font-family: 'PT Sans Caption', sans-serif;
}
.Text-Section h5{
    opacity: 50%;
}

.btn {
    padding: 12px 32px;
    font-size: 1rem;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.2);
    color: #000000;
    border: 1px solid darkgrey;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
}

.btn-light {
    background: transparent;
    color: blue;
}

.btn:hover{
    background: rgb(2, 11, 45);
    color: #ffffff;
    transition: 0.5s;

}
h1,h4,p,a{
    color: black;
    text-decoration: none;

}

.nav-link {
    color: black;
    font-weight: bold;
}


#contact-now{
    margin-right: 300px;
}
.contact-menu{
    width: fit-content;
    position: relative;
    left:  294px;
    right: 0;
    bottom: 90px;
    margin: auto;
}
@media screen and (max-width: 1440px)  {

    .image {
        width: 839px;
    }

    body{
        overflow-x: hidden;
    }

    .Text-Section{
        bottom: 10px;

    }

}

@media screen and (max-width: 1024px) {

    .name h6{
        margin-left: 200px;
        margin-top: 10px;
    }

    .image{
        width: 800px;
        height: 550px;
        left: 300px;
        bottom: 110px;
    }
    .Text-Section{
        position: absolute;
        margin: auto;
        bottom: 60px;
        padding: 7rem;
    }
    .Text-Section h1{
        font-size: 25px;
    }
    .Text-Section p{
        font-size: 12px;
    }
    .Text-Section h5{
        font-size: 15px;
        opacity: 50%;
    }
    .contact-menu {
        left: 210px;
        bottom: 77px;
    }

}

@media screen and (max-width: 768px) {

    .name h6{
        margin-left: 200px;
        margin-top: 10px;
    }

    .image {
        width: 682px;
        height: 585px;
        left: 200px;
        bottom: 110px;
    }
    .contact-menu {
        bottom: 91px;
        left: 164px;
    }
    .Text-Section{
        bottom: 20px;
        padding: 6rem;
        width: 450px;
    }
}
@media screen and (max-width: 426px){
    .image {
        width: 700px;
        height: 600px;
        left: 23px;
        bottom: -229px;
    }

    .Text-Section {
        bottom: 20px;
        padding: 6rem;
        width: 532px;
    }

    .Text-Section h1 {
        font-size: 45px;
    }

    .name h6 {
        margin-left: 421px;
        margin-top: 12px;
    }
    .contact-menu {
        bottom: -242px;
        left: 169px;
    }

    #contact-now {
        margin-right: -1px;
    }
}

@media screen and (max-width: 376px){
    .image {
        width: 599px;
        height: 586px;
        left: -46px;
        bottom: -208px;
    }

    .contact-menu {
        bottom: -233px;
        left: 5px;
    }

    #contact-now {
        margin-right: 168px;
    }
    .Text-Section h5 {
        font-size: 12px;
    }
    .Text-Section h1 {
        font-size: 42px;
    }
    .Text-Section p {
        font-size: 12px;
    }
    .name h3 {
        font-family: 'Jost', sans-serif;
        font-size: 20px;
    }
    .name h6 {
        margin-left: 325px;
        margin-top: 0;
    }

}